<header class="header">

    <div class="logo__header">
        <img src="assets/logo.svg"/>
    </div>

    
    <nav class="navbar">
        <div class="navbar__item">
            <img src="assets/logo_home.svg"/>
            <a class="navbar__item--text" routerLink="/"> Home</a>
        </div>
        <div class="navbar__item">
            <img src="assets/logo_prods.svg"/>
            <a class="navbar__item--text" routerLink="/prods">Prods</a>    
        </div>
        <div class="navbar__item"> 
            <img src="assets/logo_gestion.svg"/>  
            <a class="navbar__item--text" routerLink="/gestion"> Gestión</a>      
        </div>
              
        
    </nav>

</header>
