<div class="container">
    <div class="home__container">
        <div class="title__container">
        <h2 class="home__title">Bienvenido a Shopéame</h2>
    </div>

        <p class="home__subtitle">¿Qué es Shopéame?</p>
        <p class="home__parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum?</p>

        <p class="home__subtitle">¿Para qué puedo usar Shopéame?</p>
        <p class="home__parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum?</p>

        <p class="home__subtitle">¿Quiénes hacemos Shopéame?</p>
        <p class="home__parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum?</p>

        <p class="home__subtitle">¿Es seguro usar Shopéame?</p>
        <p class="home__parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse rerum magnam sapiente quidem, iste laboriosam
        inventore voluptate provident voluptatum vel a quod perspiciatis hic? Explicabo veritatis repellat minus asperiores
        nostrum?</p>
        
</div>
